div{
    font-family: Arial;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: blueviolet;
    color: #fff;
    align-items: center;
    padding: 0 15px;
    height: 70px;
}
.home-link{
    font-weight: bold;
}
.text-box{
    width: 500px;
    border: none;
    padding: 12px 0px;
    border-radius: 30px;
    padding-left: 15px;
}
button{
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
}